 {% comment %} {% extends "base.html" %} {% block content %}
<h2>Reset Password</h2>
<form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Reset Password</button>
</form>
{% endblock %}  {% endcomment %}

{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Password Reset Confirm</title>
</head>
<body>
    <h1>Password Reset Confirm</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Confirm Password Reset</button>
    </form>
</body>
</html> {% endcomment %}

{% block content %}
  <h1>Password Reset Confirmation</h1>
  
  <form method="post">
    {% csrf_token %}
    
    <p>{{ user.username }}</p>
    
    <div>
      <label for="password">New Password:</label>
      <input type="password" name="new_password" id="new_password">
    </div>
    
    <button type="submit">Update Password</button>
  </form>
{% endblock %}
