<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% comment %} <link rel="stylesheet" href="{% static 'css/main.css' %}"> {% endcomment %}
</head>
<body>
  <header>
    <nav>
      {% comment %} <a href="{% url 'home' %}">Home</a> {% endcomment %}
      <a href="{% url 'upload_list' %}">Files</a>
      {% comment %} {% if user.is_authenticated %} {% endcomment %}
        {% comment %} <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
      {% endif %} {% endcomment %}
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
